<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>HOME</h1>
    <% if(user){ %>
    <h1>Welcome <%= user.username %></h1>
    <form action="/register" method="POST">
      <label for="name">name</label>
      <input type="text" id="name" name="name" type="hidden" value=" " />
      <input type="submit" value="submit" />
    </form>
    <% }%>
  </body>
</html>
