<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <form action="/login" method="post">
      <label for="username">username</label>
      <input type="text" id="username" name="username" />
      <label for="password">Password</label>
      <input type="password" name="password" id="" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
 